
<div class="jumbotron-menu">
	<div class="second-nav">
		<ul id="second-nav">
			<li> <a href="/" id="second-logo"><img class="second-logo" src="/images/logogris.png" height="140px"></a></li>
		</ul>
	</div>
	<h1>Nuevo Menu</h1>
	<p>¡Nos preocupamos por ti y tus seres queridos! En Paseo Xejasmin tomamos todas las medidas necesarias para que tengas una visita agradable y sin preocupaciones.</p>
	<a href="/images/nuevo-menu.pdf" dowload id="button">Descargar Menu</a>
</div>
