// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-menu {
	height: 700px;
	text-align: center;
}

.jumbotron-menu h1 {
	margin-top: 100px;
}
#bs-over #second-nav {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	margin-top: 58px;
	padding-left: 0px;
}

.second-logo {
	margin-top: 0px;
	margin-left: 0px;
	padding: 20px 20px 20px 20px;
}


@media only screen and (max-width: 768px) {
	.second-logo {
		margin-left: 0px;
	}
}