// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-menu {
	height: 700px;
	text-align: center;
	background-image: url('/images/frente.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron-menu h1 {
	padding: 50px;
}
#jumbo #second-nav {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	margin-top: 58px;
	padding-left: 0px;
}

.second-logo {
	margin-top: 0px;
	margin-left: 0px;
	padding: 20px 20px 20px 20px;
}

#jumbo #arrows  {
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	text-align: left;
}

#jumbo #arrows li a {
	text-decoration: none;
}

.featuring-menu {
	background-color: #fff;
}

#jumbo #button-download {
	margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
	.second-logo {
		margin-left: 0px;
	}
}