<!DOCTYPE html>
<html>
<head>
  <title>Restaurante Paseo Xejasmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript for bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <!--mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font awesome-->
      <script src="https://use.fontawesome.com/811422e9bc.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body id="bs-over">
	<!--slide nav will only appear from section2 and on-->
				<div class="site-navigation page-navigation">
					<div class="container" id="site-nav">
						<ul class="nav nav-slide">
							<li><a href="#section-1">inicio</a></li>
							<li><a href="#section-2">restaurante</a></li>
							<li><a href="#section-4">menu</a></li>
							<li><a href="#section-6">Tours</a></li>
							<li><a href="#section-7">cont&aacute;ctenos</a></li>
						</ul>
					</div>
				</div>
		<!--for mobile-->
				<div class="icon-menu pull-left">
  					<i class="material-icons">menu</i>
  				</div>
		<!-- Mobile Menu CLose icon (will only appear in mobile devices-->
		<div class="menu">
			<div class="icon-close">
				<i class="material-icons">close</i>
			</div>

      <!-- Mobile Menu will only appear in mobile devices -->
			<ul class="mobile-menu">
				<li><a href="#section-1">Inicio</a></li>
			 	<li><a href="#section-2">Restaurante</a></li>
				<li><a href="#section-4">Menu</a></li>
				<li><a href="#section-6">Tours</a></li>
				<li><a href="#section-7">cont&aacute;ctenos</a></li>
			</ul>
		</div>
		<!--jumbotron-->
		<div class="jumbotron" id="section-1">
			<div class="header">
				<div class="container">
						<a href="#section-1"><img class="mobile-logo" src="images/logoblanco.png" height="200px"/></a>


					<!--desktop nav-->
					<ul class="nav">
						<li><a href="#section-1">inicio</a></li>
						<li><a href="#section-2">restaurante</a></li>
						<li><a href="#section-4">menu</a></li>
						<li><a href="#"><img src ="images/logoblanco.png"  height="150px"/></a></li>
						<li><a href="#section-6">tours</a></li>
						<li><a href="#section-7">cont&aacute;ctenos</a></li>

					</ul>
				</div>
				<h1>Restaurante y Paseo</h1>
				<h3>EVENTOS ESPECIALES TOURS Y MUCHO M&Aacute;S</h3>
			</div>
		</div>

<%= yield %>

<!--pre-footer-->
		<div class="pre-footer">
			<div class="container">
				<ul>
					<li><a href="https://www.facebook.com/paseo.xejasmin/" target="_blank"><i class="fa fa-facebook fa-2x" id="fb" aria-hidden="true"></i></a>
</li>
					<li><a href="https://twitter.com/paseoxejasmin" target="_blank"><i  class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
					<li><a href="http://instagram.com/paseoxejasmin" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="container">
			</div>
				<h4>Restaurante Paseo Xejasmin, km 87.5, carretera interamericana,Tecpan., 502, Guatemala</h4>
				<a href="#section-1"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>

		<!-- Latest compiled and minified JavaScript for bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var main = function() {
         $(".site-navigation").hide(); //hide your div initially
        var topOfOthDiv = $(".supporting").offset().top;
  
        $(window).scroll(function() {
          if($(window).scrollTop() >= topOfOthDiv) { //scrolled past the other div?
            $(".site-navigation").show(100); //reached the desired point -- show div
            
            } else {
              $(".site-navigation").hide(50);
            }
         });
     /* Push the body and the nav over by 280px over */
      $('.icon-menu').click(function() {
        $('.menu').animate({
          left: "0px"
        }, 200);

        $('body').animate({
          left: "280px"
        }, 200);
        });

      /* Then push them back */
        $('.icon-close').click(function() {
        $('.menu').animate({
          left: "-280px"
        }, 200);

        $('body').animate({
          left: "0px"
        }, 200);
        });
      };

      $(document).ready(main);
    </script>
     <script type ="text/javascript">
    var main = function() {

 $('.arrow-next').click(function() {
    var currentSlide = $('.active-slide');
    var nextSlide = currentSlide.next();

    var currentDot = $('.active-dot');
    var nextDot = currentDot.next();

    if(nextSlide.length === 0) {
      nextSlide = $('.slide').first();
      nextDot = $('.dot').first();
    }
    
    currentSlide.fadeOut(600).removeClass('active-slide');
    nextSlide.fadeIn(600).addClass('active-slide');

    currentDot.removeClass('active-dot');
    nextDot.addClass('active-dot');
  });


  $('.arrow-prev').click(function() {
    var currentSlide = $('.active-slide');
    var prevSlide = currentSlide.prev();

    var currentDot = $('.active-dot');
    var prevDot = currentDot.prev();

    if(prevSlide.length === 0) {
      prevSlide = $('.slide').last();
      prevDot = $('.dot').last();
    }
    
    currentSlide.fadeOut(600).removeClass('active-slide');
    prevSlide.fadeIn(600).addClass('active-slide');

    currentDot.removeClass('active-dot');
    prevDot.addClass('active-dot');
  });

  /*gallery-2*/

  $('.arrow-next-2').click(function() {
    var currentSlide = $('.active-slide-2');
    var nextSlide = currentSlide.next();

    var currentDot = $('.active-dot-2');
    var nextDot = currentDot.next();

    if(nextSlide.length === 0) {
      nextSlide = $('.slide-2').first();
      nextDot = $('.dot-2').first();
    }
    
    currentSlide.fadeOut(600).removeClass('active-slide-2');
    nextSlide.fadeIn(600).addClass('active-slide-2');

    currentDot.removeClass('active-dot-2');
    nextDot.addClass('active-dot-2');
  });


  $('.arrow-prev-2').click(function() {
    var currentSlide = $('.active-slide-2');
    var prevSlide = currentSlide.prev();

    var currentDot = $('.active-dot-2');
    var prevDot = currentDot.prev();

    if(prevSlide.length === 0) {
      prevSlide = $('.slide-2').last();
      prevDot = $('.dot-2').last();
    }
    
    currentSlide.fadeOut(600).removeClass('active-slide-2');
    prevSlide.fadeIn(600).addClass('active-slide-2');

    currentDot.removeClass('active-dot-2');
    prevDot.addClass('active-dot-2');
  });
};

$(document).ready(main);
    </script>
   		<script type ="text/javascript" src="/vendor/assets/javascripts/CombinedSCroll/jquery.combinedScroll.js"></script>
   		<!--scrolling nav-->
   		<script type="text/javascript">
				var main = function() {
 
  					// Hook up the current state to the nav bar
  				$('.nav').onePageNav();
  				$('.page-navigation').onePageNav();
  				$('.mobile-menu').onePageNav();
  				
         };

      $(document).ready(main);
				</script>

</body>
</html>
